/*
 * wp247 Body Classes admin settings styles
 */
.wp247bc {
	min-width: 216px;
	display: inline-block;
}

.wp247bc-indent {
	padding-left: 16px;
	min-width: 200px;
	display: inline-block;
}

.wp247bc-button {
	height: auto !important;
	width: 100% !important;
	white-space: normal !important;
}